<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentMapper">

    <sql id="Base_Column_List">
        id,userId,templateId,commentContent,section,time,eventId
    </sql>

    <select id="selectAll" resultType="com.example.entity.Comment">
        select comment.id, comment.userId, comment.templateId, comment.commentContent, comment.section, comment.time, comment.eventId, user.name as user
        from comment
        left join user on user.id = comment.userId
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="userId != null"> and userId= #{userId}</if>
            <if test="templateId"> and templateId= #{templateId}</if>
            <if test="commentContent != null"> and commentContent= #{commentContent}</if>
            <if test="section != null"> and section= #{section}</if>
            <if test="time != null"> and time= #{time}</if>
            <if test="eventId != null"> and eventId= #{eventId}</if>
        </where>
        order by id
    </select>

    <select id="selectById" resultType="com.example.entity.Comment">
        select
        <include refid="Base_Column_List" />
        from comment
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from comment
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Comment" useGeneratedKeys="true">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">userId,</if>
                <if test="templateId != null">templateId,</if>
                <if test="commentContent != null">commentContent,</if>
                <if test="section != null">section,</if>
                <if test="time != null">time,</if>
                <if test="eventId != null">eventId,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="userId != null">#{userId},</if>
                <if test="templateId != null">#{templateId},</if>
                <if test="commentContent != null">#{commentContent},</if>
                <if test="section != null">#{section},</if>
                <if test="time != null">#{time},</if>
                <if test="eventId != null">#{eventId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Comment">
        update comment
        <set>
            <if test="userId != null">
                userId = #{userId},
            </if>
            <if test="templateId != null">
                templateId = #{templateId},
            </if>
            <if test="commentContent != null">
                commentContent = #{commentContent},
            </if>
            <if test="section != null">
                section = #{section},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="eventId != null">
                eventId = #{eventId},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>