<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ScheduleMapper">

    <sql id="Base_Column_List">
        id,date,userId
    </sql>

    <select id="selectAll" resultType="com.example.entity.Schedule">
        select schedule.id, date, userId, user.name as user, COUNT(event.id) as eventCount
        from schedule
        left join user on schedule.userId = user.id
        left join ScheduleEventRelation on schedule.id = ScheduleEventRelation.scheduleId
        left join event on ScheduleEventRelation.eventId = event.id
        <where>
            <if test="id != null"> and schedule.id= #{schedule.id}</if>
            <if test="date != null"> and schedule.date= #{schedule.date}</if>
            <if test="userId != null"> and schedule.userId= #{schedule.userId}</if>
        </where>
        group by schedule.id order by schedule.id
    </select>

    <select id="selectById" resultType="com.example.entity.Schedule">
        select
        <include refid="Base_Column_List" />
        from schedule
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from schedule
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Schedule" useGeneratedKeys="true" keyProperty="id">
        insert into schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="categoryId != null">categoryId,</if>
                <if test="date != null">date,</if>
                <if test="userId != null">userId,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="categoryId != null">#{categoryId},</if>
                <if test="date != null">#{date},</if>
                <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Schedule">
        update schedule
        <set>
            <if test="categoryId != null">
                categoryId = #{categoryId},
            </if>
            <if test="date != null">
                date = #{date},
            </if>
            <if test="userId != null">
                userId = #{userId},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>